name: build

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build
        shell: cmd
        run: |
          if "${{ matrix.arch }}"=="x86" (
            set CFLAGS=-m32 -target i686-pc-windows-msvc
          )
          call build.bat release || exit /b 1

      - name: test
        shell: cmd
        run: |
          if "${{ matrix.arch }}"=="x86" (
            set CFLAGS=-m32 -target i686-pc-windows-msvc
          )
          call run_tests.bat || exit /b 1

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fwd-${{ matrix.arch }}
          path: fwd.exe
